
.NotificationsAppWidget {
  min-width: 450px;
  max-width: 450px; // TODO media queries to get reasonable size for different screens
  height: 100vh;
}

.NotificationsAppWidget.Minimized {
  min-width: unset;
  max-width: unset;
}

.ToggleMinimizedButton {
  margin: calc(var(--mui-sp-1) * -1) !important;

  svg {
    font-size: var(--mui-icon-size-small) !important;
  }
}