
.UpcomingEventsView {

}

.EventSections {
}

.EventSection {
  margin-top: var(--mui-sp-2);
  gap: var(--mui-sp-1);
}

.EventCard {
  background: var(--mui-palette-primary-main) !important;
  color: var(--mui-palette-primary-contrastText) !important;

  :global(.MuiCardContent-root) {
    padding: var(--mui-sp-1) !important;
  }

  .EventSummaryText {
    font-weight: bold;
  }

  .EventTimeText {

  }

  &.IsInTheFuture {

  }

  &.IsInProgress {
    background: var(--mui-palette-secondary-main) !important;
    color: var(--mui-palette-secondary-contrastText) !important;
  }

  &.IsInThePast {
    opacity: 0.5;
  }
}