.UnlockWidget {
  height: 100%;
  position: relative;
  display: flex;
  place-items: center;
  justify-content: center;
}

.UnlockActivatorButton {
  transform: scale(4);
  color: white !important;
  border: 2px solid rgba(255, 255, 255, 0.26) !important;
}

.UnlockKeyPad {
  gap: var(--mui-sp-4);
}

.PinDisplay {
  gap: var(--mui-sp-2);
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.DigitDisplay {
  margin-top: var(--mui-sp-2);
}

.ButtonPanel {
  place-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--mui-sp-2);
  justify-items: center;
  pointer-events: auto;
}

.DigitButton {
  height: 100px;
  width: 100px;
  font-size: xxx-large !important;
  pointer-events: auto;
}