.WeatherAppWidget {
  min-width: 400px;
  max-width: 400px;
}


.TodayForecastCard {
  position: relative;

  img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: var(--mui-sp-2);
    right: var(--mui-sp-2);
  }
}

.DailyForecastTable {
  td {
    padding: var(--mui-sp-1s) var(--mui-sp-1s);
  }

  td:first-child {
    padding-left: var(--mui-sp-2);
  }

  td:last-child {
    padding-left: var(--mui-sp-2);
  }
}

.WeatherIcon {
  margin: calc(-1  * var(--mui-sp-1));
}

.DailyForecastRow {
  .WeatherIcon {
    width: 48px;
    height: 48px;
  }
}

.HourlyForecastColumns {
  gap: var(--mui-sp-2);
  overflow-x: auto;
  padding: 0 var(--mui-sp-2) var(--mui-sp-2);
}

.HourlyForecastColumn {
  align-items: center;

  .WeatherIcon {
    width: 48px;
    height: 48px;
    margin: 0 -24px;
    pointer-events: none;
  }
}

.HumidityIcon {
  font-size: small !important;
  color: var(--mui-palette-text-secondary)
}

.LastRefreshedAtText {
  align-self: center;
}