.LockScreen {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--mui-palette-primary-dark);
  color: var(--mui-palette-primary-contrastText);
  display: grid;
  grid-template-columns: 4fr 3fr 3fr;
  padding-left: 50px;
  padding-right: 50px;
  gap: 50px;

  > * {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-y: auto;
  }
}

.LeftColumn {
  gap: 100px;
}

.MiddleColumn {
  overflow-y: auto;
  gap: 100px;
}

.RightColumn {
}

.WidgetPanel {
  flex: 1;
  gap: var(--mui-sp-2);
}

.IconBar {
  height: 80px;
  align-items: center;
  pointer-events: none;
}