.LockScreen {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--mui-palette-primary-dark);
  color: var(--mui-palette-primary-contrastText);
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  gap: 50px;
}

.LeftColumn {
  flex: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-y: auto;
  gap: 100px;
  max-width: calc(40% - 50px);
}

.MiddleColumn {
  flex: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-y: auto;
  gap: 100px;
  max-width: calc(30% - 50px);
}

.RightColumn {
  flex: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: calc(30%);
}

.WidgetPanel {
  flex: 1;
  gap: var(--mui-sp-2);
}

.IconBar {
  height: 80px;
  align-items: center;
  pointer-events: none;
}