
.AppWidget {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding: var(--mui-sp-2);
  border-right: var(--mui-divider-border);
  border-right: var(--mui-divider-border);
}

.AppWidgetHeader {
  svg {
    font-size: var(--mui-icon-size-small);
  }
}